openapi: 3.0.0
info:
  title: CoinDaily Africa API
  description: |
    CoinDaily is Africa's #1 cryptocurrency news and education platform.
    This API provides access to African-focused crypto news, market data,
    educational guides, and regulatory information.
    
    Key features:
    - 15+ African language support (Swahili, Hausa, Yoruba, Amharic, Zulu, etc.)
    - Coverage of African exchanges: Luno, Quidax, Binance Africa, Valr, BuyCoins, Ice3X
    - Mobile money integration tracking: M-Pesa, MTN Money, Orange Money, EcoCash
    - AI-powered content generation and translation
    - Community features for African crypto enthusiasts
  version: 1.0.0
  contact:
    name: CoinDaily Support
    email: support@sygn.live
    url: https://sygn.live
servers:
  - url: https://sygn.live/api
    description: Production API

paths:
  /articles:
    get:
      operationId: getArticles
      summary: Get latest cryptocurrency news articles focused on Africa
      description: Returns the latest crypto news articles, filterable by category, language, and region. All content is tailored for African crypto markets.
      parameters:
        - name: category
          in: query
          description: Article category filter
          schema:
            type: string
            enum: [news, analysis, education, regulation, defi, nft, memecoin, trading, mobile-money]
        - name: language
          in: query
          description: Content language (ISO 639-1 code)
          schema:
            type: string
            enum: [en, sw, ha, yo, am, zu, ig, af, so, rw, sn, lg, wo, om, ti]
            default: en
        - name: region
          in: query
          description: African region filter
          schema:
            type: string
            enum: [nigeria, kenya, south-africa, ghana, east-africa, west-africa, southern-africa, all]
        - name: limit
          in: query
          schema:
            type: integer
            default: 10
            maximum: 50
      responses:
        '200':
          description: List of articles
          content:
            application/json:
              schema:
                type: object
                properties:
                  articles:
                    type: array
                    items:
                      $ref: '#/components/schemas/Article'
                  total:
                    type: integer

  /articles/{slug}:
    get:
      operationId: getArticleBySlug
      summary: Get a specific article by slug
      parameters:
        - name: slug
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Full article content
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Article'

  /blog:
    get:
      operationId: getBlogPosts
      summary: Get educational blog posts and guides about cryptocurrency in Africa
      description: Returns comprehensive educational content including pillar articles (4700+ words), comparison guides, and FAQs tailored for African crypto enthusiasts.
      parameters:
        - name: category
          in: query
          schema:
            type: string
            enum: [Guides, Trading, Regulation, Technology, Investment, Security, Career]
      responses:
        '200':
          description: List of blog posts
          content:
            application/json:
              schema:
                type: object
                properties:
                  posts:
                    type: array
                    items:
                      $ref: '#/components/schemas/BlogPost'

  /market/prices:
    get:
      operationId: getMarketPrices
      summary: Get cryptocurrency prices on African exchanges
      description: Real-time price data from African exchanges including Luno, Quidax, Binance Africa, Valr, BuyCoins, and Ice3X. Includes local currency pairs (NGN, KES, ZAR, GHS).
      parameters:
        - name: tokens
          in: query
          description: Comma-separated token symbols
          schema:
            type: string
            default: BTC,ETH,USDT
        - name: exchange
          in: query
          description: Specific African exchange
          schema:
            type: string
            enum: [luno, quidax, binance-africa, valr, buycoins, ice3x, all]
        - name: currency
          in: query
          description: Local fiat currency
          schema:
            type: string
            enum: [NGN, KES, ZAR, GHS, USD]
            default: USD
      responses:
        '200':
          description: Market price data
          content:
            application/json:
              schema:
                type: object
                properties:
                  prices:
                    type: array
                    items:
                      $ref: '#/components/schemas/PriceData'

  /faq:
    get:
      operationId: getCryptoFAQ
      summary: Get frequently asked questions about cryptocurrency in Africa
      description: Comprehensive FAQ covering crypto basics, exchanges, regulations, taxes, security, DeFi, and African-specific topics.
      parameters:
        - name: category
          in: query
          schema:
            type: string
            enum: [getting-started, exchanges-trading, regulations-taxes, security, defi-advanced, african-market]
      responses:
        '200':
          description: FAQ items
          content:
            application/json:
              schema:
                type: object
                properties:
                  faqs:
                    type: array
                    items:
                      $ref: '#/components/schemas/FAQ'

components:
  schemas:
    Article:
      type: object
      properties:
        id:
          type: string
        title:
          type: string
        slug:
          type: string
        excerpt:
          type: string
        content:
          type: string
        category:
          type: string
        author:
          type: string
        publishedAt:
          type: string
          format: date-time
        tags:
          type: array
          items:
            type: string
        language:
          type: string
        region:
          type: string

    BlogPost:
      type: object
      properties:
        id:
          type: string
        title:
          type: string
        slug:
          type: string
        excerpt:
          type: string
        category:
          type: string
        wordCount:
          type: integer
        readingTime:
          type: integer
        targetKeywords:
          type: array
          items:
            type: string
        faqItems:
          type: array
          items:
            $ref: '#/components/schemas/FAQ'

    PriceData:
      type: object
      properties:
        symbol:
          type: string
        price:
          type: number
        currency:
          type: string
        exchange:
          type: string
        change24h:
          type: number
        volume24h:
          type: number
        lastUpdated:
          type: string
          format: date-time

    FAQ:
      type: object
      properties:
        question:
          type: string
        answer:
          type: string
        category:
          type: string
